<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="apple-touch-icon" href="/favicon-303x303.png" />
    <title>{{{title}}}</title>
    <style nonce="{{{cspNonce}}}">
        body {
            overflow-y: hidden;
            max-width: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            color: black;
            font-size: 13px;
            font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
        }

        a {
            color: #036;
            text-decoration: underline;
        }

        #footer a {
            color: #fff;
            text-decoration: underline;
        }

            #footer a:hover {
                color: #fff;
                text-decoration: none;
            }

        #masthead {
            background: url(logo.png) 0px 0px;
            background-size: 341px 50px;
            background-color: #036;
            background-repeat: no-repeat;
            height: 50px;
            width: 100%;
            overflow: hidden;
        }

        #title1 {
            float: left;
            height: 66px;
            color: #c8c8c8;
            padding-left: 10px;
            padding-top: 4px;
        }

        #title1a {
            font-size: 36px;
            font-family: Arial,Helvetica,sans-serif;
        }

        #title2 {
            float: left;
            height: 66px;
            color: #c8c8c8;
            padding-left: 5px;
            padding-top: 7px;
        }

        #title2a {
            font-size: 12px;
            font-family: Arial,Helvetica,sans-serif;
        }

        #page_content {
            overflow-y: scroll;
            position: absolute;
            bottom: 32px;
            top: 50px;
            width: 100%;
        }

        #column_l {
            padding-left: 10px;
            padding-right: 10px;
        }

        #text1 {
            text-align: center;
            padding-top: 30px;
            font-size: 100px;
            font-family: Arial;
            color: #bbb;
        }

        #text2 {
            text-align: center;
            font-size: 16px;
            font-family: Arial;
            color: #999;
        }

        #text3 {
            text-align: center;
            padding-top: 16px;
            font-size: 20px;
            font-family: Arial;
            color: #999;
        }

        #text3l {
            text-decoration: none;
        }

        #footer {
            height: 32px;
            width: 100%;
            text-align: center;
            background-color: #113962;
            position: absolute;
            bottom: 0px;
        }

        #footertable {
            width: 100%;
        }

        #footerLeft {
            text-align: left;
            color: white;
        }

        #footerRight {
            text-align: right;
        }
    </style>
</head>
<body>
    <div id="container">
        <!-- Begin Masthead -->
        <div id=masthead>
            <div id="title1">
                <strong><font id="title1a">{{{title}}}</font></strong>
            </div>
            <div id="title2">
                <strong><font id="title2a">{{{title2}}}</font></strong>
            </div>
        </div>
        <div id=page_content>
            <div id="column_l">
                <div id="text1"><b>404</b></div>
                <div id="text2">This page does not exist</div>
                <div id="text3"><a id="text3l " href="/"><b>Go to main site</b></a></div>
            </div>
        </div>
        <div id=footer>
            <table id=footertable cellpadding=0 cellspacing=6>
                <tr>
                    <td id="footerLeft">{{{footer}}}</td>
                    <td id="footerRight">{{{rootCertLink}}}&nbsp;<a href="/">Back</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
